<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>


<div>
    <p>You are logged in right now</p>
    <a href="/account/update">Edit account information</a>
</div>
<div>
  <h2>Inventory Management</h2>
  <a href="/inv">Manage inventory</a>
</div>

