<div class="main">
    <h1>Welcome to CSE Motor!</h1>
    <div class="container-hero">
        <img class="background-hero" src="/images/vehicles/delorean-tn.jpg" alt="Honda Civic">
        <div class="container-info">
            <h3>DMC  Delorean</h3>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <img class="container-hero-img" src="/images/site/own_today.png" alt="onw today box">
        </div>
    </div>
    <div class="container-main">
        <div class="container-main-first">
            <h3>Delorean Upgrade</h3>
            <div>
                <div class="container-Delorean">
                    <img src="/images/upgrades/flux-cap.png" alt="flux cap ">
                </div>
                <p class="container-Delorean-p">flux Capacitor</p>
            </div>
            <div>
                <div class="container-Delorean">
                    <img src="/images/upgrades/flame.jpg" alt="flame">
                </div>
                <p  class="container-Delorean-p">Flame Decals</p>
            </div>
            <div>
                <div class="container-Delorean">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper">
                </div>
                <p  class="container-Delorean-p" >Bumper Stickers</p>
            </div>
            <div>
                <div class="container-Delorean">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub caps">
                </div>
                <p  class="container-Delorean-p" >Hub Caps</p>
            </div>
        </div>
        <div class="container-main-second">
            <h3>DMC Delorean Review</h3>
            <ul>
                <li>&quot;So fast it&apos;s almost like travelling time &quot;</li>
                <li>&quot;Coolest ride on the road&quot;(4/5)</li>
                <li>&quot;I&apos;m feeling McFly!&quot;(5/5)</li>
                <li>&quot;The most futuristic ride of our day&quot;(4.5/5)</li>
                <li>&quot;80&apos;s livin and I love it&quot;(5/5)</li>
                
            </ul>
        </div>
    </div>
</div>