
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>


<div id="container-form">

    <form action="/inv/addclassification" method="post" class="form-model">
        <span>NAME MUST BE ALPHABETIC CHARACTERS ONYL, AND NOT SPACES BETWEEN WORDS</span>
        <label for="add-classification-type"></label>
        <input type="text" name="classification_name" id="add-classification-type">
        <div class="container-button-form "><button id="button-longin">Add Classification</button></div>
       
    </form>

</div>