<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>



<div id="inventoryManagement">
    
  <a href="/inv/addclassification">Add New Classification</a>
  <a href="/inv/addinventory">Add New Vehicle</a>

  
</div>







